@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Light Colors Palette */
/* #603F26 #6C4E31 #FFDBB5 #FFEAC5 */

/* Dark Colors Palette*/
/* #201E43 #1E2A5E #7AB2D3 #a7d9f7 */
.app-header {
  position: sticky;
  top: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  z-index: 100;
}

.app-container {
  min-height: 90vh;
  height: auto;
}

.loading-app {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

/* Light styling */
.light .app-header {
  background-color: #603F26;
}
.light .app-container {
  background-color: #FFDBB5;
}
.light .loading-app {
  color: #603F26;
}

/* Dark styling */
.dark .app-header {
  background-color: #201E43;
}

.dark .app-container {
  background-color: #201E43;
}

.dark .loading-app {
  color: #7AB2D3;
}