@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* #493628  #AB886D #D6C0B3 */
/* #201E43 #134B70 #508C9B #EEEEEE*/
/* #4A628A #7AB2D3 #B9E5E8 #DFF2EB*/
/* #F3F3E0 */
/* #1E2A5E #55679C*/
.app-header {
  background-color: #201E43;
  position: sticky;
  top: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  z-index: 100;
}

.app-container {

  min-height: 90vh;
  height: auto;
  /* align-items: center; */
  /* flex-direction: column; */
}

.loading-app {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #7AB2D3;
  text-align: center;
}

.light .app-header {


}
.light .app-container {
  background-color: #F3F3E0;
}
.light .loading-app {

}

.dark .app-header {

}

.dark .app-container {
  background-color: #201E43;
}

.dark .loading-app {

}