.input-field {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  width: 25%;
  top: 2.5vh;

  background-color: #AB886D;
  border-radius: 15px;
  border: 0;
  outline: 0;
  padding: 7px 0;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #D6C0B3;
}

.dropdown-list {
  position: absolute;
  transform: translate(-50%);
  left: 50%;

  top: 7.5vh;
  width: 25%;
  background-color: #AB886D;
  padding: 0;
  margin: 0;
  border-radius: 20px;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #D6C0B3;

  max-height: 250px;
  overflow-y: auto;
}

.dropdown-list li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f1f1f1;
}