@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.app-header {
  background-color: #223e75;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.input-field {
  width: 25%;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  padding: 7px 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: #fff;
}

.app {
  background-color: #67abd8;
  display: flex;
  height: calc(90vh);

  align-items: center;
  flex-direction: column;
}

.app h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

