.categoriesBar {
    display: flex;

    height: 5vh;

    justify-content: space-between;
    align-items: center;
    padding: 0 10%;

}

.categoryButton {
    flex: 1;
    background: transparent;

    border: none;
    border-left: 3px solid #201E43;
    padding: 10px;
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
}

.categoryButton:hover {
    text-decoration: underline;
}

.categoryButton:last-child {
    border-right: 3px solid #201E43;
}

.categoryButton.active {
    background-color: #201E43;
    color: white;
}

.light .categoriesBar {
    background-color: #7AB2D3;
}

.light .categoryButton {

}

.light .categoryButton:last-child {

}

.light .categoryButton.active {

}

.dark .categoriesBar {
    background-color: #1E2A5E;
}

.dark .categoryButton {

}

.dark .categoryButton:last-child {

}

.dark .categoryButton.active {

}


