.input-field {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  width: 25%;
  top: 3vh;

  background-color: #7AB2D3;
  border-radius: 15px;
  border: 0;
  outline: 0;
  padding: 7px 0;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #DFF2EB;
}

.dropdown-list {
  position: absolute;
  transform: translate(-50%);
  left: 50%;

  top: 7.5vh;
  width: 25%;
  background-color: #7AB2D3;
  padding: 0;
  margin: 0;
  border-radius: 20px;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #DFF2EB;

  max-height: 250px;
  overflow-y: auto;
}

.dropdown-list li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #DFF2EB;
}

.light .input-field {
}

.light .dropdown-list {
}

.light .dropdown-list li:hover {
}

.dark .input-field {
}

.dark .dropdown-list {
}

.dark .dropdown-list li:hover {
}