.toggle-switch {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #493628;
    gap: 0.5rem;
}

.switch-icon {
    background-color: #AB886D;
    border-radius: 15px;
    padding: 2px;
    width: 32px;
    height: 32px;
}

.switch input {
    display: none;
}

.switch {
    position: relative;
    width: 50px;
    height: 24px;
    background-color: #AB886D;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: #D6C0B3;
    border-radius: 50%;
    transition: transform 0.4s;
}

input:checked+.slider::before {
    transform: translateX(26px);
}