.toggle-switch {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    gap: 0.5rem;
}

.switch-icon {
    border-radius: 15px;
    padding: 4px;
    width: 32px;
    height: 32px;
}

.switch input {
    display: none;
}


.switch {
    position: relative;
    width: 52px;
    height: 24px;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    border-radius: 50%;
    transition: transform 0.4s;
}

input:checked+.slider::before {
    transform: translateX(26px);
}

/* Light styling */
.light .switch-icon {
    background-color: #FFDBB5;
}

.light .switch {
    background-color: #FFDBB5;
}

.light .slider::before {
    background-color: #6C4E31;
}

/* Dark styling */
.dark .switch-icon {
    background-color: #7AB2D3;
}

.dark .switch {
    background-color: #7AB2D3;
}

.dark .slider::before {
    background-color: #DFF2EB;

}